asgiref==3.7.2
beautifulsoup4==4.12.2
bootstrap4==0.1.0
Django==4.2.3
django-bootstrap4==23.2
django-filter==23.2
django-widget-tweaks==1.4.12
Markdown==3.4.4
mysqlclient==2.2.0
Pillow==10.0.0
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
