{% extends "base.html" %}
{% block title %}My Internships{% endblock %}
{% block content %}
 <h1>My Internships</h1>
 <div class="module">
 {% for specialization in object_list %}
 <div class="course-info">
    <h3>{{ specialization.title }}</h3>
    <p>
    <a href="{% url "specialization_edit" specialization.id %}">Edit</a>
    <a href="{% url "specialization_delete" specialization.id %}">Delete</a>
    <a href="{% url "specialization_project_update" specialization.id %}">Edit projects</a>
    {% if specialization.projects.count > 0 %}
    <a href="{% url "project_content_list" specialization.projects.first.id %}">
    Manage contents
    </a>
    
    {% endif %}

    </p>
    </div>
    {% empty %}
    <p>You haven't created any internships yet.</p>
    {% endfor %}
    <p>
    <a href="{% url "specialization_create" %}" class="button">Create new internship</a>
    </p>
    </div>
   {% endblock %}