{% extends "base.html" %}
{% load project %}
{% block title %}
 Project {{ project.order|add:1 }}: {{ project.title }}
{% endblock %}
{% block content %}
{% with specialization=project.specialization %}
 <h1>Project "{{ specialization.title }}"</h1>
 <div class="contents">
 <h3>Projects</h3>
 <ul id="modules">
 {% for p in specialization.projects.all %}
 <li data-id="{{ p.id }}" {% if p == project %}
 class="selected"{% endif %}>
 <a href="{% url "project_content_list" p.id %}">
 <span>
 Module <span class="order">{{ p.order|add:1 }}</span>
 </span>
 <br>
 {{ p.title }}
 </a>
 </li>
 {% empty %}
 <li>No projects yet.</li>
 {% endfor %}
 </ul>
 <p><a href="{% url "specialization_project_update" specialization.id %}">
 Edit projects</a></p>
 </div>
 <div class="module">
 <h2>Project {{ project.order|add:1 }}: {{ project.title }}</h2>
 <h3>Project contents:</h3>
 <div id="module-contents">
    {% for content in project.contents.all %}
    <div data-id="{{ content.id }}">
    {% with item=content.item %}

    <!-- <p>{{ item }}</p>
    <a href="#">Edit</a> -->

    <p>{{ item }} ({{ item|model_name }})</p>
    <a href="{% url "project_content_update" project.id item|model_name item.id %}">Edit</a>

    <form action="{% url "project_content_delete" content.id %}"
    method="post">
    <input type="submit" value="Delete">
    {% csrf_token %}
    </form>
    {% endwith %}
    </div>
    {% empty %}
    <p>This Project has no contents yet.</p>
    {% endfor %}
    </div>
    <h3>Add new content:</h3>
    <ul class="content-types">
    <li>
    <a href="{% url "project_content_create" project.id "text" %}">
    Text
    </a>
    </li>
    <li>
    <a href="{% url "project_content_create" project.id "image" %}">
    Image
    </a>
    </li>
    <li>
    <a href="{% url "project_content_create" project.id "video" %}">
    Video
    </a>
    </li>
    <li>
    <a href="{% url "project_content_create" project.id "file" %}">
    File
    </a>
    </li>
    </ul>
</div>
{% endwith %}
{% endblock %}   