{% extends "base.html" %}
{% block title %}My specializations{% endblock %}
{% block content %}
 <h1>My specializations</h1>
 <div class="module">
 {% for specialization in object_list %}
 <div class="course-info">
 <h3>{{ specialization.title }}</h3>
 <p><a href="{% url "student_specialization_detail" specialization.id %}">
 Access contents</a></p>
 </div>
 {% empty %}
 <p>
 You are not enrolled in any specializations yet.
 <a href="{% url "specialization_list" %}">Browse specializations</a>
 to enroll on a specialization.
 </p>
 {% endfor %}
 </div>
{% endblock %}